<div class="text-center">
  <h2>{{blog.title}}</h2>
  <p>{{text}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <h3>Comments</h3>
  <p>{{#each comments as |comment| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <p>
      {{comment.text}}
    </p>
    <p>Created by {{comment.user.name}} on {{format_date comment.date_created}}</p>
  </div>
</div>
{{/each}}  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>
